<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full px-10 flex justify-between bg-zinc-800 pt-1 pb-1 items-center">
        <h1 class="text-white">Drishty Club</h1>
        <div class="flex gap-10 items-center">
            <a href="/profile" class="text-white">Profile</a>
            <a href="feed" class="text-white">Feed</a>
            <a href="/logout" class="px-3 py-2 bg-red-700 text-white rounded-lg">log out</a>
        </div>
    </div>
    
